<body>
  <div class= "text-success" ><% if flash[:notice] %>
            <p><%= flash[:notice] %></p>
      <% end %>
  </div>

  <div class="container">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
    <div class="text-center">
  <h1 class="mx-auto text-left" style="width: auto;">welcome to Bookers !!</h1>
  <h6 class="mx-auto text-left" style="width: auto;">In Bookers,</br>
you can share and exchange your opinions , inpressions , and emotions</br>
about various books!</h6>


<div class="row">
  <button type="button" class="btn btn-success btn-block mb-3">
  <div class="text-center">
    <%= link_to "login", new_user_session_path, class:'nav-link text-dark' %>
  </div>
  </button>
</div>

<div class="row">
  <button type="button" class="btn btn-info btn-block mb-3">
    <div class="text-center">
    <%= link_to "sign up", new_user_registration_path, class:'nav-link text-dark' %>
    </div>
  </button>
</div>
    </div>
    </div>
  </div>
</body>